.container{
    padding: 100px;
}

.heading{
    /* font-style: oblique; */
    font-weight: bolder;
    color: #388087;
    size: 60px;
    font-size: 60px;
}

.description{
    color: #388087;
    display:inline-block;
    width:40%;
    padding:20px
}