.navbar {
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #eee;
}

.navbar .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar span {
  color: #388087;
}

.navbar .nav-menu {
  display: flex;
}

.nav-menu {
  margin-left: -7rem;
}

.nav-button {
  padding: 1rem;
  color: #388087;
  padding: 12px 24px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  font-size: 17pt;
  font-weight: bolder;
  transition: 0.2s;
  cursor: pointer;
  margin-left: 20px;
}

.nav-button:hover {
  color: rgb(0, 0, 0);
  background-color: #67b3b8;
}

.ses {
  color: white;
  background-color: #388087;
}

.navbar .normal-button {
  padding: 1rem;
  color: #fff;
  padding: 12px 24px;
  background-image: linear-gradient(45deg, #388087 0%, #388087 100%);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.4s;
  cursor: pointer;
  margin-left: 1px;
}

.hamburger {
  display: none;
}

.navbar .icon {
  font-size: 1.5rem;
}

.btn {
  color: #fff;
  padding: 12px 24px;
  background-image: linear-gradient(45deg, #5651e5 0%, #709dff 100%);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.4s;
  cursor: pointer;
}

.btn:active {
  transform: translate(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0, 0.2);
  border-bottom: none;
}
.uppermargin {
  margin-top: 0px;
}

@media screen and (max-width: 940px) {
  .navbar .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10px;
    height: fit-content;
    width: 100%;
    transition: 0.4s ease-in-out;
    margin-left: -1rem;
  }

  .uppermargin {
    margin-top: 250px;
  }

  /* .navbar .active {
    right: 0;
  }

  .navbar .nav-menu li a {
    font-size: 2rem;
  } */
}
